<nav class="navigation" style="background-color: #333; overflow: hidden;">
    <ul style="list-style-type: none; margin: 0; padding: 0;">
        <li style="float: left;">
            <a href="/" style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Home</a>
        </li>
        <li style="float: left;">
            <a href="/tasks/" style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Available Tasks</a>
        </li>
        <li style="float: left;">
            <a href="/logout/" style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Logout</a>
        </li>
    </ul>
</nav>
